body{
    font-family: Verdana, calibri, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav > ul{
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav > ul > li{
    float: left;
}

.submenu{
    display: none;
}

nav input [type=checkbox] {
    display: none;
}

.menu-mobile{
    display: none;
}

nav {
    width: 100%;
    background-color: rgb(103, 103, 230);
}

nav > ul > li{
    float: left;
    position: relative;
}

nav > ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a{
    padding: 20px 30px;
    color: rgb(53, 20, 7);
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}

.submenu li{
    border-bottom: 1px solid #aa5a5a; 
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: rgb(1, 26, 26);
    width: 270px;
}

.menu-html:hover{
    border-top: 5px solid #e44d26;
    background-color: rgba(red, green, blue, alpha);
}

.menu-css:hover{
    border-top: 5px solid #0070bb;
    background-color: rgba(red, green, blue, alpha);
}

.menu-js:hover{
    border-top: 5px solid #f1dc4f;
    background-color: rgba(red, green, blue, alpha);
}

.menue-contact:hover{
    border-top: 5px solid #8d4747;
    background-color: rgba(red, green, blue, alpha);
}

nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}

.menu-html:hover .submenu{
    background-color: rgb(red, green, blue);
}

.menu-css:hover .submenu{
    background-color: rgb(red, green, blue);
}

.menu-js:hover .submenu{
    background-color: rgb(red, green, blue);
}

.submenu li:hover a{
    color: black;
    font-weight: bold;
}

.menu-html:hover .submenu li:hover{
    background-color: rgb(red, green, blue);
}

.menu-css:hover .submenu li:hover{
    background-color: rgb(red, green, blue);
}

.menu-js:hover .submenu li:hover{
    background-color: rgb(red, green, blue);
}

.menu-mobile{
    display: none;
}

nav input [type=checkbox]{
    display: none;
}

nav input [type=checkbox]:checked ~ ul{
    display: block;
}

@media screen and (max-width : 680px){
    .menu-mobile {
        display: block;
        color: #2e0d0d;
        background-color: rgba(red, green, blue, alpha);
        text-align: center;
        padding: 12px 0;
    }
    nav ul{
        display: none;
    }
}

@media screen and (max-width : 680px){
    .menu-mobile {
        display: block;
        color: #2e0d0d;
        background-color: rgba(red, green, blue, alpha);
        text-align: center;
        padding: 12px 0;
    }
    nav ul{
        display: none;
    }


    nav ul li, nav ul li a {
        width: 100%;
        text-align: center;
    }
    
    nav ul li a, nav ul li:hover a{
        padding: 10px 0px 10px 0px;
    }
    nav li:hover .submenu{
        display: block;
        position: static;
    }
}