body
{
	background-color: blueviolet;
}
h1
{
	color: red;
	font-size: 40px;
	text-align: center;

}
h2,h3
{
	color: greenyellow;
}

div
{
	background-color: seagreen;
	border: 7px solid yellowgreen;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	padding: 3%;
	color: whitesmoke;
	border-radius: 5%;
}

.groupe1
{
	background-color: #F0AA13;
}
.groupe2
{
	background-color: darkred;
}

.b1 {
		background-color: #132AF0; /*couleur de fond */
		color: #F02713; /*couleur du texte */
		border: none; /*pas de bordure */
		border-radius: 5px; /* coins arrondis */
		padding: 10px 20px; /* espace interieur du boutton */
		text-align: center; /* alignement du texte au centre */
		margin: 10px; /* marge exterieur pour espacer le bouton */
		cursor: pointer; /* curseur de souris pointer au survol */
		transition: color 0.3s ease; /*changement de couleur au survol */
		width: 150px;
}
	/* style du bouton au survol */
	.b1:hover {
		color: #7E1106; /* nouvelle couleur de texte au survol */
		background-color: darkred;
	}